[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "biplotEZ"]
	path = biplotEZ
	url = https://github.com/muvisu/biplotez
[submodule "moveEZ"]
	path = moveEZ
	url = https://github.com/muvisu/moveez
